.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:active,
:active {
  outline: none;
}

a:active,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  color: #1A1A1A;
  font: 300 14px/1.8 "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font: 700 40px/1.2 Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 5px 0 5px;
  color: #222;
}

h2 {
  font-size: 30px;
  margin: 0 0 30px;
}

h3 {
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0 0 5px;
}

h4 {
  font-size: 12px;
  letter-spacing: 1px;
}

h5 {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 400;
}

h6 {
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 400;
}

a {
  color: #222;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}