.footer{
  background-color: #222;
  padding: 50px 0px;
}
.inner{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.socials{
  display: flex;
  gap: 15px;

  a{
    display: flex;
    color: rgba($color: #fff, $alpha: .3);
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba($color: #fff, $alpha: .3);
    border-radius: 2px;

    &:hover{
      border: 1px solid #fff;
      color: #fff;
    }
  }
}
.copyright{
  display: flex;
  justify-content: center;
  color: #fff;
  gap: 5px;
  a{
    color:#E7746F;
    border-bottom: 1px dotted #fff;
  }
}